In [13]:
f=open("F.TXT","w")
n=0
while(n<=10):
  n=int(input("n: "))
for i in range(n):
  cadena=input("Ingrese una línea: ")+"\n"
  f.write(cadena)
f.close()

n: 11
Ingrese una línea: 15023.7 Javier Ramirez
Ingrese una línea: 42067.0 Julia Rios
Ingrese una línea: 15023.7 Javier Ramirez
Ingrese una línea: 18097.00 Luis Alvarez
Ingrese una línea: 48749.40 Mariela Fajardo
Ingrese una línea: 20527.50 Manuel Lopez
Ingrese una línea: 70327.50 Melisa Paz
Ingrese una línea: 15012.70 Julisa Pia
Ingrese una línea: 45786.40 Hector Espinoza
Ingrese una línea: 57862.60 Sofia Ramos
Ingrese una línea: 67452.50 Fiorella Tapia

In [21]:
try:
  f=open("F.TXT","r")
  v=f.readlines()
  for j in range(len(v)):
    for i in range(len(v)-1-j):
      if float(v[i].split(" ")[0])<float(v[i+1].split(" ")[0]) :
        aux=v[i]
        v[i]=v[i+1]
        v[i+1]=aux
  print("MONTO\tNOMBRE\t\tPUESTO\tBONO\tPORCENTAJE\n")
  for k in range(len(v)):
    monto=float(v[k].split(" ")[0])
    nomb=v[k].split(" ")[1]+" "+v[k].split(" ")[2]
    if k==0:
      puesto=k+1
    else:
      if float(v[k].split(" ")[0])!=float(v[k-1].split(" ")[0]):
        puesto=k+1
    if puesto<=5:
      bono=(11-puesto)*monto/100
      porcentaje=(11-puesto)
    else:
      bono=0
      porcentaje=0
    print(monto,nomb,"\t\t",puesto,"\t",bono,"\t",porcentaje,"\n")
except OSError:
  print('cannot open', "F.TXT")

MONTO	NOMBRE		PUESTO	BONO	PORCENTAJE

70327.5 Melisa Paz
 		 1 	 7032.75 	 10

67452.5 Fiorella Tapia
 		 2 	 6070.725 	 9

57862.6 Sofia Ramos
 		 3 	 4629.008 	 8

48749.4 Mariela Fajardo
 		 4 	 3412.458 	 7

45786.4 Hector Espinoza
 		 5 	 2747.184 	 6

42067.0 Julia Rios
 		 6 	 0 	 0

20527.5 Manuel Lopez
 		 7 	 0 	 0

18097.0 Luis Alvarez
 		 8 	 0 	 0

15023.7 Javier Ramirez
 		 9 	 0 	 0

15023.7 Javier Ramirez
 		 9 	 0 	 0

15012.7 Julisa Pia
 		 11 	 0 	 0