In [1]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

In [9]:
f=open("VENTAS.txt","a")
n = int(input("Ingrese cantidad de vendedores:"))
#while n<=10:
 # n = int(input("Ingrese cantidad de vendedores:"))
for i in range(n):
  monto = float(input("Ingrese monto: "))
  vendedor = input("Ingrese nombre: ")

  linea=str(monto)+"  "+vendedor+"\n"
  f.write(linea)
f.close()
print()

f=open("VENTAS.txt","r")
for i in f:
	print(i)
f.close()
"""42067.00  Juan Rios
  15023.70  Javier Ramirez
  18097.00  Luiz Alvarez
  ........  ............
  48749.40  Juan Millones
  35267.00  Mariela Fajardo
  20527.00  Manuel Lopez """

Ingrese cantidad de vendedores:6
Ingrese monto: 42067
Ingrese nombre: Juan Rios
Ingrese monto: 15023.70
Ingrese nombre: Javier Ramirez
Ingrese monto: 18097
Ingrese nombre: Luiz Alvarez
Ingrese monto: 48749.40
Ingrese nombre: Juan Millones
Ingrese monto: 35267
Ingrese nombre: Mariela Fajardo
Ingrese monto: 20527
Ingrese nombre: Manuel Lopez

42067.0 Julia Rios

15023.7 javier ramirez

18097.0 luis alvarez

48749.0 juan millones

35267.0 mariela fajardo

20527.0 manuel lopez

42067.0  Juan Rios

15023.7  Javier Ramirez

18097.0  Luiz Alvarez

48749.4  Juan Millones

35267.0  Mariela Fajardo

20527.0  Manuel Lopez

'42067.00  Juan Rios\n  15023.70  Javier Ramirez\n  18097.00  Luiz Alvarez\n  ........  ............\n  48749.40  Juan Millones\n  35267.00  Mariela Fajardo\n  20527.00  Manuel Lopez '

In [10]:
lista = []
diccionario = {}
f=open("VENTAS.txt","r")
for i in f:
  lista.append(i)
print(lista)
for i in range(len(lista)):
  elemento = lista[i].split("  ")
  print(elemento)

['42067.0 Julia Rios\n', '15023.7 javier ramirez\n', '18097.0 luis alvarez\n', '48749.0 juan millones\n', '35267.0 mariela fajardo\n', '20527.0 manuel lopez\n', '42067.0  Juan Rios\n', '15023.7  Javier Ramirez\n', '18097.0  Luiz Alvarez\n', '48749.4  Juan Millones\n', '35267.0  Mariela Fajardo\n', '20527.0  Manuel Lopez\n']
['42067.0 Julia Rios\n']
['15023.7 javier ramirez\n']
['18097.0 luis alvarez\n']
['48749.0 juan millones\n']
['35267.0 mariela fajardo\n']
['20527.0 manuel lopez\n']
['42067.0', 'Juan Rios\n']
['15023.7', 'Javier Ramirez\n']
['18097.0', 'Luiz Alvarez\n']
['48749.4', 'Juan Millones\n']
['35267.0', 'Mariela Fajardo\n']
['20527.0', 'Manuel Lopez\n']