In [26]:
arch = open("vendedores.txt",'w')
n = int(input('Cuantos vendedores (n>10): '))
if n > 10:
  for i in range(n):
    mont = float(input("Monto vendido: "))
    nomb = input(f'Nombre del vendedor {i+1}: ')
    linea = str(mont) + ',' + nomb + '\n'
arch.write(linea)
arch.close()

Cuantos vendedores (n>10): 11
Monto vendido: 1324.2
Nombre del vendedor 1: Carlos
Monto vendido: 4346.1
Nombre del vendedor 2: Maria
Monto vendido: 3468.3
Nombre del vendedor 3: Pedro
Monto vendido: 2154.5
Nombre del vendedor 4: Juan
Monto vendido: 1349.6
Nombre del vendedor 5: Pepe
Monto vendido: 1349.5
Nombre del vendedor 6: Mario
Monto vendido: 1485.5
Nombre del vendedor 7: Dario
Monto vendido: 1311.4
Nombre del vendedor 8: Jose
Monto vendido: 1478.2
Nombre del vendedor 9: Martin
Monto vendido: 1345.4
Nombre del vendedor 10: Aldo
Monto vendido: 1347.2
Nombre del vendedor 11: Sofia

In [29]:
f = open("vendedores.txt","r")
for i in f:
  reg = i.split()
  print('---',reg)
  a = sorted(reg)
  print(a)

--- ['1347.2,Sofia']
['1347.2,Sofia']
1347.2,Sofia